# Bolt
.resource/
.modules/
.task_cache/
bolt-debug.log

# Ruby
vendor/
.bundle/
*.gem
Gemfile.lock

# OS
.DS_Store
*.swp
spec/fixtures
/inventory.yaml

# Forge build output (rake module:build)
/pkg/

# openvox-strings cache (rake strings:generate:reference)
/.yardoc/
